/* 

Три основных направления адаптивности
1920 - 1366 - 375

*/
body {
    background: #FFFFFF;
    max-width: 1222px;
    min-width: 336px;
    margin: 0 auto;

}
.head-section{
    height: 700px;
}

.background-head-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 1920px;
    z-index: -100;
}

.head-logo {
    /* logo */

position: absolute;
width: 245.17px;
height: 36px;
left: 18.3%;
top: 26px;


}
.head-info {

position: absolute;
width: 542px;
height: 444px;
left: 18.4%;
top: 13.7%;

}
.head-info h1 {
margin: 0;
padding: 0;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 110%;
text-align: center;
/* or 66px */
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #313131;

}

.head-firstheader-text {
    text-align: left !important;
}

.head-info p {
margin: 4.3% 0;
font-family: 'Golos Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #313131;


}
.head-links {

display: flex;
flex-direction: row;


}

.head-links a {

/* Label */
margin-top: 3%;
justify-content: center;
align-items: center;
font-family: 'Golos Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;
text-decoration: none;

box-sizing: border-box;

width: 263px;
height: 72px;

border: 2px solid #1F1F1F;
border-radius: 66px;


}
.first-head-link {
background-color: #1F1F1F;
color: #FFFFFF;
padding: 13px 50px;
}

.second-head-link {
    margin-left: 3%;
    color: #1F1F1F;
    padding: 13px 80px;
}

.men-chess-sur {

box-sizing: border-box;
max-width: 474px;
max-height: 527px;

}
.main-first-group {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.main-first-group p {

width: 764px;
height: 195.43px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 135%;
/* or 49px */
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #313131;


}
.main-second-group {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}

.table-second-group h4 {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    /* or 49px */
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #313131;


}

.table-second-group {
    display: flex;
    flex-direction: column;
    width: 704px;
}

.table-second-group table {
    border-collapse: collapse;
    border: 4px solid #FFFFFF;
}

.table-second-group td {
    border: 2px solid #D0D0D0;
    text-align: left;
    padding: 16px;
}

.table-second-group tr td:nth-child(1) {
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}

.table-second-group tr td:nth-child(2) {
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

}

.table-second-group p {
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3057A2;
    margin: 0;
    padding: 0;

}

.table-third-group {
    height: 400px;
    margin-top: 54px;
    max-width: 1222px;
}

.table-third-group ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin: 0;
    padding: 0;
}

.table-third-group ol li {
    display: flex;
    width: 394px;
    height: 112px;
    background-image: url(../img/background-for-list.png);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.table-third-group ol li span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    text-align: center;
    padding: 8px;
    margin: 20px 20px auto 20px;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;


} 
.table-third-group ol li p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.table-grid-item3 {
    grid-column: 3/3;
    grid-row: 1 / 3;
    height: auto !important;
}

.table-grid-item6 {
    grid-row: 3/4;
    height: 136px !important;
}

.table-grid-item7 {
    grid-column: 2/4;
    width: auto !important;
    height: 136px !important;
}

.title-third-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 806px;
    height: 130px;
}


.title-third-group h4 {

/* Этапы преображения Васюков */
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    float: right;

}
.title-third-group h4 p {
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    width: 280px;
    height: 48px;
    line-height: 24px;
    text-align: left;
    color: #3057A2;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-transform: none;


}

.third-main-group {
    display: flex;
    flex-direction: column;
}

.fourth-main-group {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 200px;
}

.carousel-of-members {
    display: flex;
    flex-direction: row;
}

.running-line {

align-items: center;
overflow: hidden;
white-space: nowrap;
text-overflow: clip;
height: 60px;
width: 1920px;
background: #F54932;
left: 0;
position: absolute;

}

.running-line .top {
    top: 700px;
}

.running-line .bottom {
    bottom: 150px;
}

.running-line p {

margin: 0;
padding: 18px 12px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 22px;
/* or 24px */
text-align: right;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}